<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'Home' | stringRepeat:1 }}</h1>

                <hr>

                <div ng-init="demo='demo '"></div>
                <h3>{{ demo | stringRepeat:5 }}</h3>
                <h3>{{ ::demo }}</h3>
                <p>
                    <input ng-model="demo">
                </p>

                <hr>

                <custom-buttons count="2"></custom-buttons>
                <custom-buttons count="4"></custom-buttons>
                <custom-buttons count="6"></custom-buttons>

                <hr>

                <hello-the-guardian></hello-the-guardian>

                <hr>
                helloTheGuardian

                <div class="form-group">
                    <label>myLanguage -> {{ myLanguage }}</label>
                    <select class="form-control" ng-model="myLanguage" ng-options="language.key as language.value for language in ::languages"></select>
                </div>

                <hr>

                <div class="form-group">
                    <label>Choose section:</label>
                    <div ng-repeat="section in sections">
                        <label>
                            <input type="radio" name="section" ng-model="formData.section" ng-value="section"/> {{n}}
                            {{section.webTitle}}
                        </label>
                    </div>
                    <button class="btn btn-lg btn-success" ng-click="goToSection(formData.section)">Go!</button>
                </div>

            </div>
        </div>
    </div>