<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ ::currentSection.webTitle }}</h1>
                <h3 ng-show="news.length">Last {{ news.length }} news:</h3>
                <h3 ng-show="news && !news.length">Sorry. No news for the section.</h3>
                <p ng-repeat="newsItem in ::news track by newsItem.id">
                    <a ng-href="{{ ::newsItem.webUrl }}" class="ng-cloak">{{ ::newsItem.webTitle }}</a>
                </p>
            </div>
        </div>
    </div>
</div>