<div class="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ng-href="#/">The Guardian Reader</a>
        </li>
        <li ng-repeat="section in ::sections track by section.id" ng-class="{'section_active': section.id == currentSection.id }">
            <a ng-href="#/news/{{ ::section.id }}" ng-click="setCurrentSection(section.id)" class="ng-cloak">{{ ::section.webTitle }}</a>
        </li>
    </ul>
</div>